/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
DEBUG
*/

.debug header .container.header {
    height: 70px;
}

.debug main .container {
    height: 715px;


    margin-top: 60px;
}

.debug main .container .box-superiore {
    height: 645px;

}

.debug main .container .box-inferiore {
    height: 70px;

}



/*
COMMON
*/
.megacontainer {
    max-width: 1460px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container {
    width: calc(1460px / 3 - 40px);
    position: relative;
}

.container .first:hover {
    z-index: 0;
    transition-duration: 2s;

}

.brand {
    font-size: 12px;
    padding-top: 10px;
}

.price {
    color: red;
    padding-top: 3px;


}

.sliced {
    text-decoration: line-through;
    color: black;
}

.sale {
    width: 50px;
    padding: 5px;
    color: white;
    background-color: red;
    position: absolute;
    bottom: 100px;
    z-index: 99;
}

.sustain {
    width: 105px;
    padding: 5px;
    color: white;
    background-color: #008000;
    position: absolute;
    bottom: 100px;
    z-index: 99;
    left: 55px;
}

.sustain.alone {
    position: absolute;
    left: 0;
}

.heart {
    width: 55px;
    padding: 10px;
    background-color: white;
    font-size: 35px;
    position: absolute;
    z-index: 99;
    right: 0px;
    top: 10px;
}

.heart:hover {
    color: red;
}

/*
HEADER
*/













/*
MAIN
*/

.first {
    width: 446.66px;
    position: absolute;
    z-index: 1;
}

.second {
    width: 446.66px;
    position: absolute;
}








/*
FOOTER
*/